.div-address-selected {
  display: flex;
  padding-bottom: 10px;
}
.div-suggestions {
  margin: 0px 8px 12px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  padding: 4px;
}
.div-suggestions p {
  display: flex;
  padding: 2px;
  cursor: pointer;
}
.div-suggestions p:hover {
  color: #3c8bdc;
}
